


<div class="mainNavbar">
  <i class="fa fa-align-justify nav_icon " (click)="toggleSidebar()" ></i>
  <div><img alt="logo" src="../../assets/images/hp.png" class="logo "></div>
  <div class="title ">
    <div class="subtitle1">Workflow Tool</div>
    <div class="subtitle2">Testing Hub Management</div>
  </div>


  <div class="user_icon" (click)="showUserInfo=!showUserInfo">
   <i class="fa fa-user-o " ></i>
   <div class="userDetails" *ngIf="showUserInfo">
     <div class="details" >
       <div class="name">John Smith</div>
       <div class="position">Test Owner</div>
     </div>
     <div class="signOut"><button>Sign Out</button></div>
   </div>
  </div>

</div>
