.mainNavbar{
  display:flex;
  border-bottom:2px solid #0096d6;
  background-color: white;
  height: 55px;
}

.mainNavbar .nav_icon{
  padding: 18px;
  color: #5a5a5a;
  cursor: pointer;
  font-size: 18px;
}
.mainNavbar .nav_icon:hover{
  transform: scale(1.1);
  transition: transform 0.2s;
}

.logo{
  width: 32px;
  height: 32px;
  margin-top: 10px;
}

.mainNavbar .title{
  padding: 5px 0px 0px 12px;
}
.mainNavbar .title .subtitle1{
  color: #5a5a5a;
  font-family: Roboto;
  font-size: 12px;
}
.mainNavbar .title .subtitle2{
  font-family: Roboto;
  color: #5a5a5a;
  font-size: 18px;
}

.mainNavbar .user_icon{
  margin-left:auto;
  font-size: 21px;
  color: #0096d6;
  font-weight: bold;
  padding: 15px 20px 0 15px;
}

.mainNavbar .user_icon:hover{
  cursor: pointer;
}
.userDetails{
  margin: 3px;
  height: 100px;
  width: 170px;
  display: grid;
  grid-template-rows:53px 47px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 51px;
  right: 0;
  background-color: white;
}
.userDetails .details .name{

  font-weight:bold ;
  font-family: Roboto;
  color: #5a5a5a;
  font-size: 14px;
  padding: 5px 5px 0 10px ;
}
.userDetails .details .position{
  font-family: Roboto;
  font-size: 12px;
  color: #5a5a5a;
  padding: 0 0 10px 10px;
  border-bottom: 1px solid #f2f2f2;
}
.userDetails .signOut {
  display: flex;
  padding: 11px;

}
.userDetails .signOut button{
  margin-left: auto;
  width: 72px;
  height: 26px;
  background-color: #5a5a5a;
  border: none;
  color: white;
  font-size: 13px

}

