
<div class="grid">

  <div class="request">
    <div class="req-title">My Requests</div>
    <button class="req-btn" (click)="addRequest()">+ New Request</button>
  </div>

  <div class="requestTable">
    <ul>
      <li>Test name</li>
      <li>Project name</li>
      <li>Requested Date</li>
      <li>Press</li>
      <li>Status</li>
      <li></li>
    </ul>

    <ul *ngFor="let request of requests;let i = index" [class.noted]="request.comment" >
      <li>{{request.name}}</li>
      <li>{{request.project.name}}</li>
      <li>{{request.created | date:'dd-mm-yyyy' }}</li>
      <li><img class="press_img inline-block" [src]="baseURL+request.presses[0].imageUrl"><div class="note inline-block">{{request.presses[0].name}}</div><a href="#" class="info-link"><i class="info-icon fa fa-info-circle" aria-hidden="true"></i></a></li>
      <li *ngIf="request.status=='PENDING' || request.status=='PLANNED'" ><i class="pending icon fa fa-clock-o" aria-hidden="true"></i><div class="status inline-block">Pending Approval</div></li>
      <!--<li [class.remove]="!(request.status=='PENDING' || request.status=='PLANNED')" ><i class="status-icon icon inline-block fa fa-check-circle-o"></i><div class=" status inline-block">Pending Approval</div></li>-->

      <li>
        <i class="note-icon fa fa-list-alt" aria-hidden="true" (click)="toggleNoteDiv(i)">
          <div class="note" *ngIf="noteDivs[i]">{{request.comment}}</div>
        </i>

        <i class="sittings-icon fa fa-ellipsis-v" (click)="toggleSittingDiv(i)">
          <div class="sittings" *ngIf="sittingDivs[i]">
            <div class="duplicate">Duplicate</div>
            <div class="delete">Delete Request</div>
          </div>
        </i>
      </li>

    </ul>

    <app-add-request></app-add-request>

  </div>
</div>




