
<div class="grid">

  <div class="request">
    <div class="req-title">My Requests</div>
    <button class="req-btn">+ New Request</button>
  </div>

  <div class="requestTable">
    <ul>
      <li>Test name</li>
      <li>Project name</li>
      <li>Requested Date</li>
      <li>Press</li>
      <li>Status</li>
      <li></li>
    </ul>

    <ul>
      <li>Test Name_1</li>
      <li>Project Name_1</li>
      <li>Feb 15, 2018</li>
      <li><img class="press_img inline-block" src="../../assets/images/factory.png"><div class="note inline-block">T400S</div><a href="#" class="info-link"><i class="info-icon fa fa-info-circle" aria-hidden="true"></i></a></li>
      <li><i class="status-icon inline-block fa fa-check-circle-o"></i><div class="note inline-block">Pending Approval</div></li>
      <li><i class="note-icon fa fa-list-alt" aria-hidden="true"></i><i class=" fa fa-ellipsis-v"></i></li>
    </ul>

    <ul class="selected"  >
      <li>Test Name_1</li>
      <li>Project Name_1</li>
      <li>Feb 15, 2018</li>
      <li><img class="press_img inline-block" src="../../assets/images/factory.png"><div class="note inline-block">T400S</div>
        <a href="#" class="info-link">
          <i class="info-icon fa fa-info-circle" aria-hidden="true"></i>
          <ul class="info-list">
            <li>
              <img class="tr-img inline-block" src="../../assets/images/factory.png">
              <div class="inline-block">T400S</div>
            </li>
            <li>
              <img class="tr-img inline-block" src="../../assets/images/factory.png">
              <div class="inline-block">T400S</div>
            </li>
          </ul>
        </a></li>
      <li><i class="status-icon inline-block fa fa-check-circle-o"></i><div class="note inline-block">Pending Approval</div></li>
      <li><i class="note-icon fa fa-list-alt" aria-hidden="true"></i><i class=" fa fa-ellipsis-v"></i></li>
    </ul>

    <ul class="noted">
      <li>Test Name_1</li>
      <li>Project Name_1</li>
      <li>Feb 15, 2018</li>
      <li><img class="press_img inline-block" src="../../assets/images/factory.png"><div class="note inline-block">T400S</div><a href="#" class="info-link"><i class="info-icon fa fa-info-circle" aria-hidden="true"></i></a></li>
      <li><i class="status-icon inline-block fa fa-check-circle-o"></i><div class="note inline-block">Pending Approval</div></li>
      <li><i class="note-icon fa fa-list-alt" aria-hidden="true"></i><i class=" fa fa-ellipsis-v"></i></li>
    </ul>

    <ul class="noted">
      <li>Test Name_1</li>
      <li>Project Name_1</li>
      <li>Feb 15, 2018</li>
      <li><img class="press_img inline-block" src="../../assets/images/factory.png"><div class="note inline-block">T400S</div><a href="#" class="info-link"><i class="info-icon fa fa-info-circle" aria-hidden="true"></i></a></li>
      <li><i class="status-icon inline-block fa fa-check-circle-o"></i><div class="note inline-block">Pending Approval</div></li>
      <li><i class="note-icon fa fa-list-alt" aria-hidden="true"></i><i class=" fa fa-ellipsis-v"></i></li>
    </ul>

  </div>


</div>
