<div class="forms-container">
  <div class="formHeader">
    <div class="formTitle">New Press Request</div>
    <div class="close">x</div>
  </div>
  <form-wizard>
    <!--step1-->
    <wizard-step [title]="'Basic info'"  >

      <div class="first-form">
        <div class="urgent">
          <span class="urgent-text">Urgent submission during this week?</span>
          <mat-slide-toggle  [(ngModel)]="isUrgent"></mat-slide-toggle>
        </div>

        <div class="radioContainer">
          <div class="type">Type</div>

          <div class="TestRadioCont" (click)="toggleTest()">
            <input type="checkbox" [checked]="isTestChecked">
            <div class="TestRadio" [class.checked]="isTestChecked" >
              <div class="checkedTestRadio" *ngIf="isTestChecked"></div>
            </div>
            <div class="title">Test</div>
          </div>

          <div class="LabRadioCont" (click)="toggleLab()">
            <input type="checkbox" [checked]="isLabChecked">
            <div class="LabRadio" [class.checked]="isLabChecked" >
              <div class="checkedLabRadio" *ngIf="isLabChecked"></div>
            </div>
            <div class="title">Lab</div>
          </div>
        </div>

        <div class="inputsForm" >
          <mat-form-field><input matInput  type="text" placeholder="Test Name" required (ngModel)="Test_Name"></mat-form-field>
          <div></div>
          <mat-form-field>
            <select matNativeControl (ngModel)="Product_Name" placeholder="Product Name">
            <option value="one">Product_Name</option>
          </select>
          </mat-form-field>
          <mat-form-field>
            <select matNativeControl (ngModel)="Project_Name" placeholder="Project Name">
            <option value="one">Project_Name</option>
          </select>
          </mat-form-field>
          <mat-form-field><input  matInput type="number" value="1" id="shift" [(ngModel)]="shift"></mat-form-field>
          <div class="halfShift" >
            <span class="halfShiftText" >Half shift</span>
            <mat-slide-toggle [(ngModel)]="isHalfShift" (change)="HalfShiftChange()" ></mat-slide-toggle>
          </div>
        </div>

        <app-slider [items]="requestArray"></app-slider>

      </div>

      <button class="cancel">CANCEL</button>

    </wizard-step>
    <!--step2-->
    <wizard-step [title]="'Request details'" >
      <div class="RequestDetails">
        <mat-form-field><input matInput type="text" placeholder="Test Objectives" [(ngModel)]="Test_Objectives"></mat-form-field>

        <div class="requestMedia">
          <span class="title">Request media</span>
          <div class="add">
            <span (click)="requestMediaPopupShow()">+ &nbsp;&nbsp; Add</span>
            <div class="addedContent"></div>
            <div class="popup">
              <mat-form-field>
                <select matNativeControl (ngModel)="media_name" placeholder="media name">
                  <option value="one">media name1</option>
                </select>
              </mat-form-field>
              <div class="media_info">
                <mat-form-field><input matInput  type="number" placeholder="Quantity" required (ngModel)="media_Quantity"></mat-form-field>
                <mat-form-field>
                  <select matNativeControl (ngModel)="media_type" placeholder="media type">
                    <option value="one">media type 1</option>
                  </select>
                </mat-form-field>
              </div>
              <div class="buttons">
                <button class="cancelBtn" (click)="requestMediaPopupHide()">CANCEL</button>
                <button class="done">Done</button>

              </div>

            </div>
          </div>

        </div>

        <div class="ReplaceComponent">
          <span class="title">Replace Component</span>
          <div class="add">
            <span>+ &nbsp;&nbsp; Add</span>
            <div class="addedContent"></div>
          </div>
        </div>
        <mat-form-field><input matInput type="text" placeholder="Additional Comment"  [(ngModel)]="Additional_Comment"></mat-form-field>
      </div>
      <app-slider [items]="requestArray"></app-slider>


    </wizard-step>
    <!--step3-->
    <wizard-step [title]="'Test plan'" >
      <div class="testPlan">
        <div class="optionalText">Locate and upload your test plan document (optional)</div>
        <input type="file">
      </div>

      <app-slider [items]="requestArray"></app-slider>
    </wizard-step>
    <!--step4-->
    <wizard-step [title]="'Submit'" >
      <div [ngSwitch]="isCompleted">
        <div *ngSwitchDefault>
          <h1>Step4</h1>
        </div>
        <div *ngSwitchCase="true">
          <h4>Thank you! You have completed all the steps.</h4>
        </div>
      </div>
    </wizard-step>
  </form-wizard>
</div>

