<div class="forms-container">
  <div class="formTitle">New Press Request</div>
  <form-wizard>
    <wizard-step [title]="'Basic info'"  (onNext)="onStep1Next($event)">

      <div class="first-form">
        <div class="urgent">
          <span class="urgent-text">Urgent submission during this week?</span>
          <mat-slide-toggle [color]="urgentColor" [checked]="urgentChecked" [(ngModel)]="isUrgent"></mat-slide-toggle>
        </div>

        <div class="radioContainer">
          <div class="type">Type</div>

          <div class="TestRadioCont" (click)="toggleTest()">
            <input type="checkbox" [checked]="isTestChecked">
            <div class="TestRadio" [class.checked]="isTestChecked" >
              <div class="checkedTestRadio" *ngIf="isTestChecked"></div>
            </div>
            <div class="title">Test</div>
          </div>

          <div class="LabRadioCont" (click)="toggleLab()">
            <input type="checkbox" [checked]="isLabChecked">
            <div class="LabRadio" [class.checked]="isLabChecked" >
              <div class="checkedLabRadio" *ngIf="isLabChecked"></div>
            </div>
            <div class="title">Lab</div>
          </div>
        </div>

        <div class="inputsForm" >
          <input type="text" placeholder="Lorem ipsum">
          <div></div>
          <select>
            <option value="one">Lorem ipsum</option>
          </select>
          <select>
            <option value="one">Lorem ipsum</option>
          </select>
          <input type="number" value="1">
          <div class="halfShift">
            <span class="halfShiftText">Half shift</span>
            <mat-slide-toggle [checked]="halfShiftChecked" [(ngModel)]="isHalfShift"></mat-slide-toggle>
          </div>
        </div>

        <div class="slider">
          <div class="sliderTitle">Available Presses</div>
          <div class="slideLeft" (click)="sliderLeftArrow()"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
          <div class="slideRight" (click)="sliderRightArrow()"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
          <ul>
            <li class="slideItem">1</li>
            <li class="slideItem">2</li>
            <li class="slideItem">3</li>
            <li class="slideItem">4</li>
            <li class="slideItem">5</li>
            <li class="slideItem">6</li>
            <li class="slideItem">7</li>
            <li class="slideItem">8</li>
            <!--<div class="clearFix"></div>-->
          </ul>
        </div>

      </div>


      <button class="cancel">CANCEL</button>


    </wizard-step>
    <wizard-step [title]="'Request details'" (onNext)="onStep2Next($event)">
      <h1>Step2</h1>
    </wizard-step>
    <wizard-step [title]="'Test plan'" (onNext)="onStep3Next($event)">
      <h1>Step3</h1>
    </wizard-step>
    <wizard-step [title]="'Submit'" (onComplete)="onComplete($event)">
      <div [ngSwitch]="isCompleted">
        <div *ngSwitchDefault>
          <h1>Step4</h1>
        </div>
        <div *ngSwitchCase="true">
          <h4>Thank you! You have completed all the steps.</h4>
        </div>
      </div>
    </wizard-step>
  </form-wizard>
</div>
