<div class="request" >
  <div class="info">
    <div class="title">Yegor G.</div>
    <div class="event">VIP event preparation</div>
    <div class="projectName">Project Name</div>
    <div class="productName">Product Name</div>
    <div class="productName">Indigo 6600 or Indigo 6000</div>
  </div>
  <div class="manageInfo">
    <div class="shift">
      <div class="shiftType">3 Cons</div>
      <div class="shifts">Shifts</div>
    </div>
    <div class="icons">
      <i class="fa fa-list" aria-hidden="true"></i>
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    </div>
  </div>
</div>
<!------------------------------>
<div class="request halfShift" >
  <div class="info">
    <div class="title">Yegor G.</div>
    <div class="event">VIP event preparation</div>
    <div class="projectName">Project Name</div>
    <div class="productName">Product Name</div>
    <div class="productName">Indigo 6600 or Indigo 6000</div>
  </div>
  <div class="manageInfo">
    <div class="shift">
      <div class="shiftType">3 Cons</div>
      <div class="shifts">Shifts</div>
    </div>
    <div class="icons">
      <i class="fa fa-list" aria-hidden="true"></i>
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    </div>
  </div>
</div>
