<div class="weeklyWorkPlan">


  <div class="mainHeader">
    <div class="sideTitles">
      <div class="title">Weekly Work Plan</div>
      <div class="status">
        <span class="statusTitle">Status: Pending Planner Action</span>
        <i class="info-icon fa fa-info-circle" aria-hidden="true"></i>
      </div>
    </div>
    <div class="buttons">

      <button class="mode">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        <span>Presentation Mode</span>
      </button>

      <button class="submit">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <span>Submit Plan</span>
      </button>

    </div>
  </div>


  <div class="mainContainer">
    <div class="requests">
      <div class="title">Requests</div>
      <div class="content">

        <!--req card (dragstart)-->
        <div class="request " [class.halfShift]="req.shiftsLength==0.5" *ngFor="let req of requests;let i=index"
             draggable="true" (drag)="requestDragged($event,req.id,i)" (dragend)="dragRequestEnd()">
          <div class="info">
            <div class="title">Yegor G.{{req.name}}</div>
            <div class="event">VIP event preparation</div>
            <div class="projectName">Project Name</div>
            <div class="productName">Product Name</div>
            <div class="productName">Indigo 6600 or Indigo 6000</div>
          </div>
          <div class="manageInfo">
            <div class="shift">
              <div class="shiftType">{{req.shiftsLength}}
                <span *ngIf="req.isConsecutive">Cons</span>
              </div>
              <div class="shifts">Shifts</div>
            </div>
            <div *ngIf="req.shiftsLength==0.5" class="fireContainer">
              <i class="fa fa-free-code-camp fire-icon" aria-hidden="true"></i>
            </div>
            <div class="icons">
              <i class="fa fa-list" aria-hidden="true"></i>
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <!--req card -->

      </div>
    </div>
    <div class="weeklyPlan">
      <div class="header">
        <div class="title">Weekly Plan</div>
        <div class="status">Current/Running plan</div>
        <div class="next">Next week plan</div>
        <div class="month">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span>Feb 11 to Feb 21</span>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>

      <div class="content">

        <ul class="tableHeader">
          <li>Presses</li>
          <li>Sun</li>
          <li>Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
        </ul>

        <div class="tableRow" *ngFor="let weak of workingDaysPerWeek;let w=index">
          <div class="press">
            <img src="../../assets/images/press.png" alt="">
            <div class="name">T400S</div>
            <div class="type">A10203040</div>
          </div>

          <div *ngFor="let day of weak;let d=index" [class.dayOff]="!day.isWorkingDay"
               [class.dayShifts]="day.isWorkingDay">
            <i *ngIf="!day.isWorkingDay" class="fa fa-calendar-times-o" aria-hidden="true"></i>
            <span *ngIf="!day.isWorkingDay">Day Off</span>

            <div class="shift"
                 *ngFor="let shift of [].constructor(day.shiftsNumber);let s=index"
                 (drop)="dropRequest($event,w,d,s)"
                 (dragover)="onDragOver($event)"
                 (dragleave)="onDragLeave($event)"
                 (dragenter)="onDragenter($event)">
              <span class="slash">--</span>
              <span class="drop">Done</span>

              <div class="requestInShift" (drag)="shiftDragged($event,w,d,s,'firstHalf')"  draggable="true" (dragend)="dragShiftEnd()"
                   [class.half1RequestInShift]="shiftsReq[w][d][s].firstR!=null && shiftsReq[w][d][s].firstR.shiftsLength==0.5"
                   [style.background-color]="shiftsReqColors[w][d][s].firstR"
                   *ngIf="shiftsReq[w][d][s].firstR!=null">
                <div>
                  <div>{{(shiftsReq[w][d][s]).firstR != null ? (shiftsReq[w][d][s]).firstR.name : ""}}</div>
                  <div>Private..</div>
                </div>
                <i class="fa fa-info" aria-hidden="true"
                   [class.shiftIcon]="shiftsReq[w][d][s].firstR.shiftsLength!=0.5"></i>
              </div>

              <div class=" requestInShift half2RequestInShift"  (drag)="shiftDragged($event,w,d,s,'secondHalf')"  draggable="true" (dragend)="dragShiftEnd()"
                   [style.background-color]="shiftsReqColors[w][d][s].secondR"
                   *ngIf="shiftsReq[w][d][s].secondR!=null">
                <div>
                  <div>{{(shiftsReq[w][d][s]).secondR != null ? (shiftsReq[w][d][s]).secondR.name : ""}}</div>
                  <div>Private..</div>
                </div>
                <i class="fa fa-info" aria-hidden="true"
                   [class.shiftIcon]="shiftsReq[w][d][s].secondR.shiftsLength!=0.5"></i>
              </div>

            </div>

          </div>


        </div>

      </div>
    </div>
  </div>
</div>



