<div class="weeklyWorkPlan">


  <div class="mainHeader">
    <div class="sideTitles">
      <div class="title">Weekly Work Plan</div>
      <div class="status">
        <span class="statusTitle">Status: Pending Planner Action</span>
        <i class="info-icon fa fa-info-circle" aria-hidden="true"></i>
      </div>
    </div>
    <div class="buttons">

      <button class="mode">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        <span>Presentation Mode</span>
      </button>

      <button class="submit">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <span>Submit Plan</span>
      </button>

    </div>
  </div>


  <div class="mainContainer">
    <div class="requests">
      <div class="title">Requests</div>
      <div class="content">

        <app-request-card></app-request-card>

      </div>
    </div>
    <div class="weeklyPlan">
      <div class="header">
        <div class="title">Weekly Plan</div>
        <div class="status">Current/Running plan</div>
        <div class="next">Next week plan</div>
        <div class="month">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span>Feb 11 to Feb 21</span>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>

      <div class="content">

        <ul class="tableHeader">
          <li>Presses</li>
          <li>Sun</li>
          <li>Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
        </ul>

        <div class="tableRow">
           <div class="press">
             <img src="../../assets/images/press.png" alt="">
             <div class="name">T400S</div>
             <div class="type">A10203040</div>
           </div>

          <div>shift</div>
          <div>shift</div>
          <div>shift</div>
          <div>shift</div>
          <div>shift</div>
          <div>shift</div>
          <div>shift</div>

        </div>

      </div>
    </div>
  </div>
</div>





